body{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.cardStats{
    text-align: center;
    
}
.statsDash{
  
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.foto{
    
    align-items: center;
    justify-content: center;
    

}